// out: sheet.css
* {
    margin: 0;
    padding: 0;
    //border: 1px solid #000; // grid-viewer
    font-family: sans-serif;
    outline: none;
}
img {
    display: none;
}
// cores
@main: rgb(2, 25, 59);
@branco: lighten(@main, 100%);
@preto: darken(@main, 100%);

// new colors
@julio: rgb(60, 170, 80);
@marie: rgb(170, 60, 90);
@julia: rgb(180,90,130);
@nest: rgb(240,160,50);
@black: rgb(30,30,30);
@white:rgb(255,255,255);

// root measures
body {
    font-size: 10px;
    border: none;
}

// areas
header {
    background: @marie;
    display: grid;
    grid-template-columns: 20% 40%;
    grid-column-gap: 40%;
    width: 100%;
    height: 5em;
    text-align: center;
        h1 {
            font-family: 'Montserrat', serif;
            font-weight: 800;
            padding-top: .2em;
            font-size: 3em;
            color: @white;
        }
        nav {
            padding-top: .65em;
            font-size: 1.9em;
            a {
                font-family: 'Encode Sans Condensed', sans-serif;
                font-weight: 300;
                letter-spacing: .05em;
                margin: 0 .5em;
                color: @white;
            }
            a:hover {
                text-decoration: underline; 
            }
            button {
                display: none;
            }
        }
        
        
} 

#hero {
    background: lighten(@marie, 8%);
    width: 100%;
    height: 39em;
    text-align: center;
        h2 {
            font-family: 'Encode Sans Condensed', sans-serif;
            padding-top: 1.5em;
            font-size: 6em;
            color: lighten(@white, 10%);
        }
        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 3em;
            color: lighten(@white, 10%);
        }
        #action {
            button {
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                font-weight: 700;
                border-radius: 2em;
                border: 2px solid @white;
                padding: 1em 3em;
                margin: 2em 1em;
                background: none;
                color: @white;
                }
            .caller {
                background: @marie;
                color: @branco;
            }
            .caller:hover {
                background: lighten(@nest, 20%);
                color: darken(@nest, 5%);
                border: 2px solid darken(@nest, 5%);
            }
        }
}

section {
    width: 100%;
    height: auto;
    padding: 1% 0;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;

        article {
            text-align: center;
            margin: 2em 0;
            padding: 0 10%;
            h3 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 2.5em;
                //text-align: center;
                color: @black;
            }
            p {
                //text-align: left;
                font-family: 'Montserrat', sans-serif;
                line-height: 1.5em;
                font-weight: 300;
                font-size: 2em;
                padding: 5%;
            }
        }
        svg {
            padding: 2em;
            stroke: lighten(@black, 10%);
            stroke-width: 3;
            width: 40%;
            height: 40%;
        }
}

footer {
    background: @black;
    width: 100%;
    height: auto;
    padding: 1% 0;
        section {
            display: grid;
            grid-template-columns: 45% 45%;
            grid-column-gap: 10%;
            text-align: justify;
            color: @branco;
            h4 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 2.2em;
                text-transform: uppercase;
            }
            p {
                font-family: 'Montserrat', sans-serif;
                font-size: 1.4em;
                font-weight: 200;
                line-height: 2em;
            }
        }
        cite {
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5em;
            font-weight: 300;
            font-style: normal;
            text-align: center;
            color: @branco;
        }
    
    }

// medium devices like tablets
@media screen and (max-width: 1066px) {
    header {
        display: grid;
        grid-template-columns: 25% 10%;
        grid-column-gap: 65%;
            nav {
                a {
                    display: none;
                }
                button {
                    border: none;
                    background: none;
                    display: block;
                    width: 3em;
                    height: 3em;
                    svg {
                        fill: @white;
                        margin-top: -.9em;
                        width: 80%;
                        height: 80%;
                    }
                }
            }
    }      
}
// small devices like smartphones
@media screen and (max-width: 666px) {
    header {
        display: grid;
        grid-template-columns: 49% 15%;
        grid-column-gap: 36%;
    }
    #hero {
        h2 {
            font-size: 2.8em;
            padding-bottom: .5em;
        }
        p {
            font-size: 1.8em;
            padding: 0 3em;
        }
        #action {
            button {
                margin: .5em 0;
            }
        }
    }
    section {
        grid-template-columns: 100%;
    }
    footer {
        section {
            grid-template-columns: 100%;
        }
    }

}