// out: sheet.css
* {
    margin: 0;
    padding: 0;
    //border: 1px solid #000; // grid-viewer
    font-family: sans-serif;
    outline: none;
}
img {
    display: none;
}
svg {
    padding: 2em;
    stroke: lighten(@main, 10%);
    stroke-width: 3;
    width: 40%;
    height: 40%;
}
// cores
@main: rgb(2, 25, 59);
@branco: lighten(@main, 100%);
@preto: darken(@main, 100%);

// root measures
body {
    font-size: 10px;
    border: none;
}

// areas
header {
    background: @main;
    display: grid;
    grid-template-columns: 20% 40%;
    grid-column-gap: 40%;
    width: 100%;
    height: 5em;
    text-align: center;
        h1 {
            font-family: 'Roboto Slab', serif;
            padding-top: .2em;
            font-size: 3em;
            color: @branco;
        }
        nav {
            padding-top: .65em;
            font-size: 1.9em;
            a {
                font-family: 'Encode Sans Condensed', sans-serif;
                font-weight: 300;
                letter-spacing: .05em;
                margin: 0 .5em;
                color: @branco;
            }
            a:hover {
                text-decoration: underline; 
            }
            button {
                display: none;
            }
        }
        
        
} 

#hero {
    background: lighten(@main, 8%);
    width: 100%;
    height: 39em;
    text-align: center;
        h2 {
            font-family: 'Encode Sans Condensed', sans-serif;
            padding-top: 1.5em;
            font-size: 6em;
            color: lighten(@branco, 10%);
        }
        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 3em;
            color: lighten(@branco, 10%);
        }
        #action {
            button {
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                font-weight: 700;
                border-radius: 2em;
                border: 2px solid @branco;
                padding: 1em 3em;
                margin: 2em 1em;
                background: none;
                color: @branco;
                }
            .caller {
                background: @branco;
                color: @main;
            }
            .caller:hover {
                background: darken(@main, 2%);
                color: @branco;
                border: 2px solid darken(@main, 2%);
            }
        }
}

section {
    width: 100%;
    height: auto;
    padding: 1% 0;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;

        article {
            text-align: center;
            margin: 2em 0;
            padding: 0 10%;
            h3 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 2.5em;
                //text-align: center;
                color: @main;
            }
            p {
                //text-align: left;
                font-family: 'Montserrat', sans-serif;
                line-height: 1.5em;
                font-weight: 300;
                font-size: 2em;
                padding: 5%;
            }
    }
}

footer {
    background: lighten(@preto, 5%);
    width: 100%;
    height: auto;
    padding: 1% 0;
        section {
            display: grid;
            grid-template-columns: 45% 45%;
            grid-column-gap: 10%;
            text-align: justify;
            color: @branco;
            h4 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 2.2em;
                text-transform: uppercase;
            }
            p {
                font-family: 'Montserrat', sans-serif;
                font-size: 1.4em;
                font-weight: 200;
                line-height: 2em;
            }
        }
        cite {
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5em;
            font-weight: 300;
            font-style: normal;
            text-align: center;
            color: @branco;
        }
    
    }

// medium devices like tablets
@media screen and (max-width: 1066px) {
    header {
        display: grid;
        grid-template-columns: 25% 10%;
        grid-column-gap: 65%;
            nav {
                a {
                    display: none;
                }
                button {
                    font-family: 'Montserrat';
                    background: lighten(@main, 10%);
                    padding: .8em;
                    margin-top: -.4em;
                    border: none;
                    color: @branco;
                    display: block;
                    text-transform: uppercase;
                }
            }
    }      
}
// small devices like smartphones
@media screen and (max-width: 666px) {
    header {
        display: grid;
        grid-template-columns: 40% 20%;
        grid-column-gap: 40%;
    }
    #hero {
        h2 {
            font-size: 2.8em;
            padding-bottom: .5em;
        }
        p {
            font-size: 1.8em;
            padding: 0 3em;
        }
        #action {
            button {
                margin: .5em 0;
            }
        }
    }
    section {
        grid-template-columns: 100%;
    }
    footer {
        section {
            grid-template-columns: 100%;
        }
    }

}